<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <style>
        img{
            height:100px;
            width:100px;
           
        }
    </style>
</head>
<body>
    <h2>This page belongs to @<%= username %></h2>
        <button>Follow</button>
        <button>Message</button>
        
       
        <p>
           <b>Followers : </b><%= data.followers %> 
            &nbsp; &nbsp; &nbsp; &nbsp;
        <b> Following :</b><%= data.following %> 
        </p>
    <hr/>
    <% for (let post of data.posts) { %>
        <img src = "<%= post.image %>" alt = "some image"/>
     
        <p>
            <b>Likes : </b><%= post.likes %> 
             &nbsp; &nbsp; &nbsp; &nbsp;
         <b> Comments:</b><%= post.comments %> 
         </p>

   <% } %>

</body>
</html>